<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title th:text="#{template.mail.forget-password.title}"></title>
  <style>
  </style>
</head>
<body style="margin: 0;padding: 0;">
<div>
  <span th:text="#{template.mail.forget-password.dear-user}"></span>
  ,&nbsp;
  <!--/*@thymesVar id="username" type="java.lang.String"*/-->
  <span th:text="${username}"></span>
  <br/>
  <span th:text="#{template.mail.forget-password.reset-password-link}"></span>
  :&nbsp;
  <!--/*@thymesVar id="link" type="java.lang.String"*/-->
  <a th:href="${link}" th:text="${link}"></a>
</div>
</body>
</html>